{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage Appointment</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/momentjs/2.14.1/moment.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="{%static 'styles/style.css' %}">
    <style>
        table, th, td {
        border: 1px solid black;
        text-align: center;
        font-size:18px;
        }
    </style>
</head>
<body class="body" style="background:white;">
    <div>
        <div class="content">
            <div class="navigation-bar">
                <div class="brand">
                    <p>Darpan Dental Home</p>
                    <img src="{% static 'images/logo.svg' %}" alt="" height=40px >
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
{% block content %}
{% endblock %}
    <br>
    <br>
    <center>
    <a href="/home" class="btn btn-success" style="font-size:18px; font-weight:400;"> Back to Home </a>
    </center>
    <br>
    <br>
    <section class="service" style="background:#f9f8b8">
        <div class="topic" style="text-align: center;"><h1>Our Speciality</h1></div>
        <div class="contain">
            <div class="service-one">
                <div class="image">
                    <img src="{% static 'images/24-hours.png' %}" alt="" height="60px">
                </div>
                <h3>24-Hours Service</h3>
            </div>
            <div class="service-two">
                <div class="image">
                    <img src="{% static 'images/expert.png' %}" alt="" height="60px">
                </div>
                <h3>Srugery From Expert</h3>
            </div>
            <div class="service-three">
                <div class="image">
                    <img src="{% static 'images/latest technology.jpg' %}" alt="" height="60px">
                </div>
                <h3>Latest Technology</h3>
            </div>
            <div class="service-fourth">
                <div class="image">
                    <img src="{% static 'images/affordable price.png' %}" alt="" height="60px">
                </div>
                <h3>Affordable Price</h3>
            </div>
        </div>
        <div class="topic" style="text-align: center;"><h1>Our Contacts</h1></div>
        <div class="contain">
            <div class="contact-one">
                <div class="image">
                    <img src="{% static 'images/email.png' %}" alt="" height="60px">
                </div>
                <h3>contactUs@darpandental.com.np</h3>
            </div>
            <div class="contact-two">
                <div class="image">
                    <img src="{% static 'images/phone.png' %}" alt="" height="60px">
                </div>
                <h3>+977 9845612342</h3>
            </div>
            <div class="contact-three">
                <div class="image">
                    <img src="{% static 'images/address.png' %}" alt="" height="60px">
                </div>
                <h3>Bhanu Chowk, Dharan</h3>
            </div>
        </div>

    </section>
    <br>

    <center>
    <footer>
        <p>
            <small style="font-size:18px;"><i>
                &copy; Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved Designed by 
                <span> Darpan Dental Home</span></i>
            </small>
        </p>			
    </footer>
    </center>
</body>
</html>